/*** Nav Styles ***/
nav {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  
  nav a {
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--text-color);
    text-decoration: none;
  }
  
  nav button:hover {
    color: var(--blue-color);
    transition: 0.3s ease-in-out;
  }
    
  /*** Active State ***/
  .active {
    color: var(--blue-color);
  }
  